@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background-image: url("https://t4.ftcdn.net/jpg/04/97/80/99/360_F_497809944_FMo3DO6j7XSlb9rZKOlnqaaWoJhuZXBm.jpg");
    background-size: cover;
    background-position: top-center;
}

.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.6));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input{
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(18,18,18,0.4);
    border-radius: 16px;
    border-bottom: 3px solid #df8e00;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
    color: #eeeeee;
}

header input:focus{
    background-color: rgba(18,18,18,0.8);
}

main{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city{
    color: #eeeeee;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date{
    color: #eeeeee;
    font-size: 16px;
}

.current .temp{
    color: #eeeeee;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0;
    text-shadow: 2px 8px rgba(0,0,0,0.5);
}

.current .temp span{
    font-weight: 200;
}

.current .weather{
    color: #eeeeee;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0 3px rgba(0,0,0,0.4);
}

.current .hi-low{
    color: #eeeeee;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0 3px rgba(0,0,0,0.4);
}

.haze{
    background-image: url("https://media.tenor.com/bnvs-f9hunUAAAAC/greys-anatomy-foggy.gif");
}

.mist{
    background-image: url("https://media.tenor.com/hN8ma5kfmF0AAAAC/fog-mountains.gif");
}

.sunny{
    background-image: url("https://media.giphy.com/media/PWE9TqGFHlbctObBjN/giphy.gif");
}

.clear{
    background-image: url("https://media.tenor.com/gznLWsJjaMAAAAAC/daytime-miving.gif");
}

.clouds{
    background-image: url("https://media.tenor.com/f14xUacYc1oAAAAd/storm-world-meteorological-day.gif");
}

.drizzle{
    background-image: url("https://media.tenor.com/AeaXKKx8CgQAAAAC/rain-droplets.gif");
}

.rain{
    background-image: url("https://media.tenor.com/8Qm-3YieUhwAAAAC/rainy-day-rain.gif");
}

.thunderstorm{
    background-image: url("https://media.tenor.com/oBT_0RmGaSIAAAAC/thunder.gif");
}

.snow{
    background-image: url("https://media.tenor.com/fwEQI4qR7aEAAAAM/snowfall-primal-survivor.gif");
}
